<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        .circle {
          height: 50px;
          width: 50px;
          background-color: red;
          border-radius: 50%;
        }
    </style>
    <title>Flask App </title>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>

    

</head>


<body>    
    <br>
    <h1 class="text-center text-black"><img src="/static/contoso.png" width="50" height="50">Contoso Restaurant</h1>
    <br>  
    <div class="container-fluid">
        <h1 class="text-center text-black">Orders </h1>
        <br>
        <div id="orders" class="row">

        </div>
        
    </div>
    <script>
        setInterval(getOrders, 1000)
        function getOrders() {
            var requests = $.get('/newOrder');
            var tm = requests.done(function (response) {
                console.log(response);
                $.each(response, function(index, value) {
                    console.log(value);
                    let obj = JSON.parse(value);
                    let bagNumber = obj.bag_no;
                    let itemsList = obj.items; // list that contains JSON of order items and quantity
                    // create a div to represent a bag
                    let divBag = document.createElement("div");
                    divBag.setAttribute("id", "bag_no" + bagNumber.toString(10)); // toString(base)
                    divBag.setAttribute("class", "col-5 jumbotron p-2 mx-1");
                    divBag.setAttribute("style", "border: 5px; border-style: solid; border-color: red");
                    let orders = document.getElementById("orders");
                    
                    document.body.appendChild(divBag);
                    orders.appendChild(divBag);

                    // create a div to represent the order status
                    let divStatus = document.createElement("div");
                    divStatus.setAttribute("id", "status" + bagNumber.toString(10));
                    divStatus.setAttribute("class", "circle");
                    divStatus.setAttribute("style", "float: right; margin-left: 3.5cm");
                    
                    document.body.appendChild(divStatus);
                    divBag.appendChild(divStatus);

                    let heading = document.createElement("H1");
                    heading.setAttribute("id", "order" + bagNumber.toString(10));
                    heading.setAttribute("style", "margin-left: 0.5cm");
                    let text = document.createTextNode("Bag " + bagNumber.toString(10));
                    heading.appendChild(text);
                    
                    document.body.appendChild(heading);
                    divBag.append(heading);

                    // create ordered list for order items
                    let orderedList = document.createElement("ol");
                    orderedList.setAttribute("id", "list" + bagNumber.toString(10));
                    divBag.appendChild(orderedList);
                    // iterate key and value from json
                    console.log(itemsList);
                    let items = itemsList[0];
                    Object.keys(items).forEach(function(key) {
                        console.log('Key: ' + key + ', Value : ' + items[key].toString(10));
                        for (let i=0; i<items[key]; i++) {
                            let item = document.createElement("li");
                            item.setAttribute("id", key + bagNumber.toString(10));
                            item.appendChild(document.createTextNode(key));
                            orderedList.appendChild(item);
                        }
                    })
                });
                console.log();
            });
        }
    </script>
    <script>
        setInterval(requestData, 1000)
        function requestData() {
            data = "";
            var requests = $.get('/data');
            var tm = requests.done(function (response){
                console.log(response);
                $.each(response, function(index, value) {
                    data += value;
                    // parse JSON string
                    let obj = JSON.parse(value);
                    let bagNumber = obj.bag_no;
                    let status = obj.Status;
                    console.log(status);
                    console.log(bagNumber);
                    if (status == "reload") {
                        window.location.reload();
                    }
                    if (status == false) {
                        let action = obj.action;
                        let itemName = obj.item_name;
                        console.log(action);
                        console.log(itemName);
                        if (action == "add") {
                            // item is added to the wrong bag
                            let ol = document.getElementById("list" + bagNumber.toString(10));
                            let li = document.createElement('li');
                            li.setAttribute("id", "error");
                            li.appendChild(document.createTextNode(itemName));
                            ol.appendChild(li);
                            var element = document.getElementById("error");
                            element.style.backgroundColor = "orange";
                            var orderStatus = document.getElementById("status" + bagNumber.toString(10));
                            orderStatus.style.backgroundColor = "red";
                            var bagBorder = document.getElementById("bag_no" + bagNumber.toString(10));
                            bagBorder.style.borderColor = "red";
                            
                        }
                        else if (action == "remove") {
                            // item is removed from the wrong bag
                        }
                        
                    }
                    else if (status == true) {
                        let action = obj.action;
                        let itemName = obj.item_name;
                        console.log(action);
                        console.log(itemName);
                        if (action == "add") {
                            // item is added to the correct bag
                            document.getElementById(itemName + bagNumber.toString(10)).style.backgroundColor = "lightgreen";
                        }
                        else if (action == "remove") {
                            // item is removed from the correct bag 
                            let ol = document.getElementById("list" + bagNumber.toString(10));
                            let items = document.getElementById("error");
                            ol.removeChild(items);
                        }
                    }
                    else if (status == "order-completed") {
                        console.log("complete-order " + bagNumber.toString(10));
                        var orderStatus = document.getElementById("status" + bagNumber.toString(10));
                        var bagBorder = document.getElementById("bag_no" + bagNumber.toString(10));
                        orderStatus.style.backgroundColor = "green"
                        bagBorder.style.borderColor = "green"
                    }
                });
            });
        }
    </script>
    

    <style>

        .jumbotron{
            widows: 150px;
            height: 220px;
            justify-content: center;
        }

        .row{
            justify-content: center;
        }


    </style>
    
</body>


</html>